<h1>Bands Index</h1>

<% @band_and_albums.each do |band| %>
  <%= band.alias %>
  <ul><% band.albums.each do |album| %>
    <li><%= album.title %></li>
    <form action=" <%= edit_album_url(album) %>" method="post">
      <%= auth_token %>
      <input type="submit" value="Edit Album">
    </form>
  <% end %>
</ul>
<% end %>

<form action=" <%= new_album_url %>" method="get">
  <%= auth_token %>
  <input type="submit" value="Add Album">
</form>
