<!DOCTYPE html>
<html>
<head>
  <title>MusicLabelApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <form action="<%= session_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <%  %>
      <%= log_out_button unless session[:session_token].nil? %>
  </form>
<%= flash[:notice] %>

<%= yield %>

</body>
</html>
